/* CSS Document */
@charset 'utf-8';
/* font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic&subset=latin,latin-ext);
/* font */
@import url(../images/fontello/css/dokonaleciste.css);
@import url(../images/fontello/css/dokonaleciste-ie7.css);
/* css reset */
a,abbr,acronym,address,applet,area,article,aside,audio,b,base,basefont,bdi,bdo,big,blockquote,body,br,canvas,caption,center,cite,code,col,colgroup,command,datalist,dd,del,details,dfn,dir,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,frame,frameset,head,header,hgroup,h1,h2,h3,h4,h5,h6,hr,html,i,iframe,img,ins,kbd,keygen,label,legend,li,link,map,mark,menu,meta,meter,nav,noframes,noscript,object,ol,optgroup,option,output,p,param,pre,progress,q,rp,rt,ruby,s,samp,script,section,small,source,span,strike,strong,style,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,title,tr,track,tt,u,ul,var,video,wbr{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
table,tr,th,td{vertical-align:top;}
ul,ul li,menu,menu li{margin:0;padding:0;list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
address{font-style:normal;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:left;}
input,textarea{font-family:'Source Sans Pro',sans-serif;font-size:100%;}
input.submit{width:0;overflow:visible;}
input.submit[class]{width:auto;}
article,aside,canvas,figcaption,figure,footer,header{display:block;}
/* elements */
body{font-size:18px;line-height:1.4;font-family:'Source Sans Pro',sans-serif;color:#595959;text-align:center;background:#ffffff url(../images/bg/01.png) repeat-x top;}
a{color:#f96c1e;cursor:pointer;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin:0 0 20px 0;}
h1{font-size:36px;font-weight: normal;color: #f96c1e;}
h2{font-size:24px;}
h3{font-size:18px;}
h4{font-size:14px;}
p{margin:0 0 20px 0;}
ul,ol{padding:0;margin:0 0 20px 20px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ol{list-style:decimal;}
ul li{position: relative;padding:0 0 0 20px;margin:0;}
ul li:before, ul li .before{position: absolute;content: '\e812';left: 0;top: 4px;font-size: 12px;color: #000;font-family: 'dokonaleciste';}
ul ul{padding:10px 0;}
ol li{margin:0 0 0 20px;}
ol ol{padding: 10px 0;}
hr{margin:0 0 20px 0;border:0;border-top:1px solid #cdcdcd;}
strong{font-weight:bold;}
em{font-style:italic;}
sup,sub{position: relative;vertical-align:baseline;font-size:60%;line-height:1;}
sup{bottom:1.4ex;}
sub{top:.7ex;}
/* classes */
.r{text-align:right!important;}
.c{text-align:center!important;}
.l{text-align:left!important;}
.j{text-align:justify!important;}
.pull-left{float:left;}
.pull-right{float:right;}
.clear{clear:both;}
.cleaner{display:block;clear:both;height:0;overflow:hidden;float:none;}
.nodisplay{display:none;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.block{display:block;}
/* skype prevent */
span.skype_pnh_container{display:none !important;}
span.skype_pnh_print_container{display:inline !important;}
/* xart.classes */
nav.more{text-align:right;margin:0 0 20px 0;}
nav.more a{display: inline-block;color:#fff;padding:4px 10px;background: #7ba317;text-decoration: none;-webkit-border-radius: 18px;-moz-border-radius: 18px;border-radius: 18px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
nav.more a:hover{background: #f96c1e;}
table.normal{margin:0 0 20px 0;width:100%;background:#fff;}
table.normal th,table.normal td{padding:3px 8px;border:1px solid #ccc;font-weight:normal;}
table.normal.compact th,table.normal.compact td{padding:2px 8px;}
table.normal tr:nth-child(odd) td{background:#f1f1f1;color:#000;}
table.normal th,table.normal thead td{font-weight:normal;color:#000!important;background:#fbac1d!important;}
table.normal th a,table.normal thead td a{color:#fff;}
table.normal tfoot td{background:#ddd!important;}
table.info{margin:0 0 20px 0;}
table.info td,table.info th{padding:0 7px 0 0;}
form.normal{margin:0 0 20px 0;}
form.normal label{display:block;margin:0 0 10px 0;font-weight:bold;}
form.normal .optgroup label{display:inline;font-weight:normal;}
form.normal input[type=text],form.normal input[type=email],form.normal input[type=password],form.normal textarea,form.normal select{position:relative;border:1px solid #ccc;font-size:13px;line-height:18px;margin:0 3px 5px 0;width:198px;height:18px;padding:4px 10px;color:#000;background:#fff;}
form.normal input.input-mini{width:25px;padding-left:0;padding-right:0;text-align:center;}
form.normal input.input-small{width:125px;}
form.normal input.input-large{width:300px;}
form.normal textarea{padding:10px;width:auto;height:auto;}
form.normal select{width:auto;height:auto;padding:4px;}
form.normal input[type=text]:hover,form.normal input[type=email]:hover,form.normal input[type=password]:hover,form.normal textarea:hover,form.normal select:hover,
form.normal input[type=text]:focus,form.normal input[type=email]:focus,form.normal input[type=password]:focus,form.normal textarea:focus,form.normal select:focus{background:#f1f1f1;}
form.normal .fileinputs{position:relative;overflow:hidden;display:inline-block;cursor:default;}
form.normal .fileinputs input.type-file{position:absolute;top:-10px;right:-10px;margin:0;padding:0;border:0;width:auto!important;font-size:999px;z-index:1;cursor:default;-webkit-opacity:0;-moz-opacity:0;opacity:0;filter:alpha(opacity=0);}
.normal-button{position:relative;top:0;margin:0 0 5px 0;padding:0;border:0;height:30px;padding:0 15px;color:#fff;text-align:center;overflow:visible;font-size:13px;background:#f96c1e;cursor:pointer;white-space:nowrap;text-transform:uppercase;font-weight:bold;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}
a.normal-button{display:inline-block;text-decoration:none;line-height:30px;}
.normal-button:hover,.fileinputs:hover .normal-button{background-color:#ffdd99;}
.search-results .highlight,.results .highlight{background:yellow;padding:0 3px;color:#000;}
.pagehub{clear:both;text-align:center;padding:20px 0;border-top: 1px solid #ddd;}
.pagehub a,.pagehub span{position:relative;display:inline-block;width:28px;height:28px;line-height:28px;text-align:center;text-decoration:none;font-size:16px;color:#fff;background:#7ba317;-webkit-border-radius:14px;-moz-border-radius:14px;border-radius:14px;}
.pagehub span.pagenav{background:#f96c1e;}
.pagehub a:hover{background:#f96c1e;}
.pagehub span.pagenav-ico{opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);cursor:default;}
.clear-decor,.description_separator,.article_separator{clear:both;background:#eee;margin:0 0 20px 0;height:10px;overflow:hidden;}
img.img-left,img[align=left]{float:left;margin:0 15px 5px 0;}
img.img-right,img[align=right]{float:right;margin:0 0 5px 15px;}
a.xeditorpopup img{padding: 5px;border:1px dashed #999;}
a.xeditorpopup:hover img{border:1px solid #999;}
.mod_breadcrumbs ul{margin:0 0 25px 0;padding:0;}
.mod_breadcrumbs ul li{margin:0 6px 0 0;padding:0 0 0 12px;display:inline;background-position:left;}
#system-message dt{display:none;}
#system-message .message ul{margin:0;padding:0;}
#system-message .message ul li{margin:0;padding:0;}
#system-message .message ul li:before, #system-message .message ul li .before{display: none;}
#system-message .message{padding:8px 14px;margin:0 0 15px 0;background-color:#eaf0dc;border:1px solid #7ba317;color:#7ba317;}
#system-message .notice{background-color:#fbf3e4;border-color:#f96c1e;color:#f96c1e;}
#system-message .warning,#system-message .error{background-color:#f96c1e;border-color:#f96c1e;color:#fff;}
/* page-header */
#page-header{position: relative;z-index: 999;min-width: 960px;}
#page-header .inner{position: relative;width: 920px;padding: 80px 20px 38px;margin: 0 auto;text-align: left;}
#page-header .logo{position: absolute;top:38px;left: 17px;}
#page-header .logo a{position: relative;display: block;width: 157px;height: 82px;text-indent: -9999px;background: url(../images/logo/dokonale-ciste.png) no-repeat;}
/* slideshow */
#slideshow{min-width: 960px;background: url(../images/bg/02.png) repeat-x top;}
#slideshow .inner{width: 920px;padding: 0 20px;margin: 0 auto;text-align: left;}
/* col-bottom */
#col-bottom{position: relative;min-width: 960px;background: #fbac1d;overflow: hidden;}
#col-bottom:before{position: absolute;content: '';height: 1px;bottom: 100%;left: 0;width: 100%;-webkit-box-shadow: 0 0 6px #000;-moz-box-shadow: 0 0 6px #000;box-shadow: 0 0 6px #000;}
#col-bottom .inner{*zoom:1;width: 920px;padding: 0 20px;margin: 0 auto;text-align: left;}
#col-bottom .inner:before, #col-bottom .inner:after{display:table;content:"";}
#col-bottom .inner:after{clear:both;}
/* col-bottom */
#col-bar{position: relative;min-width: 960px;background: #efe9de;overflow: hidden;}
#col-bar .inner{*zoom:1;width: 920px;padding: 0 20px;margin: 0 auto;text-align: left;}
#col-bar .inner:before, #col-bar .inner:after{display:table;content:"";}
#col-bar .inner:after{clear:both;}
/* page-footer */
#page-footer{*zoom:1;width: 920px;padding: 26px 20px 50px;margin: 0 auto;text-align: left;}
#page-footer:before,#page-footer:after{display:table;content:"";}
#page-footer:after{clear:both;}
/* container */
#container{*zoom:1;width: 920px;padding: 56px 20px;margin: 0 auto;text-align: left;}
#container:before,#container:after{display:table;content:"";}
#container:after{clear:both;}
#col-main{float: right;width: 640px;}
#col-left{width: 200px;float: left;}
/* mods */
.mod_menu-main ul{margin: 0;padding: 0;text-align: right;}
.mod_menu-main ul li{margin: 0 0 0 12px;padding: 0;display: inline;font-style: italic;font-size: 21px;line-height: 1;}
.mod_menu-main ul li:before,.mod_menu-main ul li .before{position: static;content: '/';font-family: sans-serif;}
.mod_menu-main ul li:first-child:before,.mod_menu-main ul li:first-child .before{display: none;}
.mod_menu-main ul li a{position: relative;display: inline-block;text-decoration: none;padding: 8px 0 0;margin: 0 0 0 18px;}
.mod_menu-main ul li.act a{color: #7ba317;}
.mod_menu-main ul li a:before, .mod_menu-main ul li a .before{position: absolute;content: '';left:0;bottom: 100%;height: 1px;width: 100%;background: #cdcdcd;}
.mod_menu-main ul li.act a:before, .mod_menu-main ul li.act a .before{height: 4px;background: #7ba317;}
.mod_menu-main ul li a:after, .mod_menu-main ul li a .after{position: absolute;content: '';left:0;bottom: 100%;height: 4px;width: 0;background: #f96c1e;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_menu-main ul li a:hover:after, .mod_menu-main ul li a:hover .after{width: 100%;}
.mod_menu-main ul li.home{margin-right: 0;margin-left: 18px;}
.mod_menu-main ul li.home:before, .mod_menu-main ul li.home .before{content: '';}
.mod_menu-main ul li.home a{position: relative;top: -5px;background: #fbac1d;color: #fff;padding: 0;margin: -10px 0;width: 48px;height: 48px;line-height: 48px;text-align: center;font-family: 'dokonaleciste';font-style: normal;-webkit-border-radius: 24px;-moz-border-radius: 24px;border-radius: 24px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_menu-main ul li.home a:hover{background: #f96c1e;}
.mod_menu-main ul li.act.home a{background: #7ba317;}
.mod_menu-main ul li.home a:before,.mod_menu-main ul li.home a .before,
.mod_menu-main ul li.home a:after,.mod_menu-main ul li.home a .after{display: none;}
.mod_search{position: absolute;bottom: -24px;right:20px;height: 46px;padding: 0 10px;border: 1px solid #e4ded2;background: #fff;-webkit-border-radius: 22px;-moz-border-radius: 22px;border-radius: 22px;-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);-moz-box-shadow: 0 0 4px rgba(0,0,0,0.1);box-shadow: 0 0 4px rgba(0,0,0,0.1);}
.mod_search:before, .mod_search .before{position: absolute;content: '';top:-5px;left: -5px;right: -5px;height: 28px;background: #fff;}
.mod_search input[type=submit]{position: relative;margin: 0;padding: 0;border: 0;width: 26px;height: 50px;color: #bbb;background: transparent;font-family: 'dokonaleciste';cursor: pointer;float: left;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_search input[type=submit]:hover{color: #7ba317;}
.mod_search input[type=text]{position: relative;padding: 10px 0 0;border: 0;font-size: 18px;float: left;outline: none;width: 0;}
.mod_search input[type=text]:focus{width: 160px!important;padding-left: 10px!important;}
.mod_custom-slideshow{padding: 46px 0 67px;}
.mod_custom-slideshow .mod-left{position: relative;z-index: 999;float: left;width:460px;}
.mod_custom-slideshow .mod-right{position: relative;z-index: 999;float: right;width:460px;}
.mod_custom-slideshow .slider{position: relative;height: 360px;overflow: hidden;-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);-moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);box-shadow: 0 0 6px rgba(0,0,0,0.5);}
.mod_custom-slideshow .slider .arr{position: absolute;z-index: 999;bottom: -80px;left:50%;width: 72px;height: 72px;margin-left: -35px;background: #fff;-webkit-border-radius: 36px;-moz-border-radius: 36px;border-radius: 36px;-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5);-moz-box-shadow: 0 0 6px rgba(0,0,0,0.5);box-shadow: 0 0 6px rgba(0,0,0,0.5);-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-slideshow .slider:hover .arr{bottom: 36px;}
.mod_custom-slideshow .slider .arr:after{position: absolute;content: '';top:100%;left: 34px;height: 42px;width: 2px;background: #fff;}
.mod_custom-slideshow .slider .arr a{font-size: 22px;line-height: 72px;display: block;float: left;width: 36px;color: #7ba317;}
.mod_custom-slideshow .slider .arr a.cycle-prev{text-align: right;}
.mod_custom-slideshow .slider .arr a:hover{color: #f96c1e;}
.mod_custom-slideshow .header{position: relative;padding: 34px 50px 27px;margin: 0 0 30px;color: #fff;background: #7ba317;border-left: 1px solid #fff;cursor: default;}
.mod_custom-slideshow .header:before, .mod_custom-slideshow .header .before{position: absolute;content: '';bottom:20px;right: 27px;width: 13px;height: 13px;background: #fff;-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;}
.mod_custom-slideshow .mod-left .header:before, .mod_custom-slideshow .mod-left .header .before{right: auto;left: 27px;}
.mod_custom-slideshow .header:after, .mod_custom-slideshow .header .after{position: absolute;content: '';bottom:0;right: 33px;width: 1px;height: 20px;background: #fff;}
.mod_custom-slideshow .mod-left .header:after, .mod_custom-slideshow .mod-left .header .after{right: auto;left: 33px;}
.mod_custom-slideshow .mod-left .header{text-align: right;background: #f96c1e;border-left: 0;border-right: 1px solid #fff;}
.mod_custom-slideshow .header h2{font-size: 32px;line-height: 1;margin: 0;font-weight: normal;}
.mod_custom-slideshow .header h2 small{font-size: 21px;font-style: italic;}
.mod_custom-slideshow .header ul{position: absolute;bottom:100%;left:0;margin: 0 0 -10px;padding: 0;border-bottom: 10px solid #a3cd39;width:0;overflow: hidden;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-slideshow .header:hover ul{width: 360px;}
.mod_custom-slideshow .mod-left .header ul{left: auto;right: 0;border-color: #fbac1d;}
.mod_custom-slideshow .header ul li{margin: 0;padding: 0;}
.mod_custom-slideshow .header ul li:before, .mod_custom-slideshow .header ul li .before{display: none;}
.mod_custom-slideshow .header ul li a{display: block;padding: 32px 55px 0 55px;height: 87px;width: 250px;color:#fff;font-size: 22px;line-height: 1.2;text-shadow: 1px 1px 0 #000;margin: 0 0 1px;text-decoration: none;overflow: hidden;background: #a3cd39;background: rgba(163, 205, 57, 0.9);-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-slideshow .header ul li a:hover{background: #7ba317;}
.mod_custom-slideshow .mod-left .header ul li a{background: #fbac1d;background: rgba(251, 172, 29, 0.9);}
.mod_custom-slideshow .mod-left .header ul li a:hover{background: #f96c1e;}
.mod_custom-slideshow .content{position: relative;margin: 0 0 36px 20px;border: 4px dashed #a3cd39;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.mod_custom-slideshow .mod-left .content{margin-left: 0;margin-right: 20px;border-color: #fbac1d;text-align: right;}
.mod_custom-slideshow .content:before, .mod_custom-slideshow .content .before{position: absolute;content: '';margin-bottom: 4px;right:29px;bottom: 100%;width: 1px;height: 30px;background: #a3cd39;}
.mod_custom-slideshow .mod-left .content:before, .mod_custom-slideshow .mod-left .content .before{right:auto;left:29px;background: #fbac1d;}
.mod_custom-slideshow .content .in{*zoom:1;margin: -3px;padding: 25px 32px 12px;font-size: 18px;line-height: 1.2;background: #fff;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.mod_custom-slideshow .content .in:before,.mod_custom-slideshow .content .in:after{display:table;content:"";}
.mod_custom-slideshow .content .in:after{clear:both;}
.mod_custom-slideshow nav{margin: 0 0 0 20px;}
.mod_custom-slideshow .mod-left nav{margin-left: 0;margin-right: 20px;text-align: right;}
.mod_custom-slideshow nav a{position: relative;display: block;width: 290px;height: 70px;line-height: 70px;text-align: center;font-size: 20px;font-weight: 600;color: #fff;text-decoration: none;text-transform: uppercase;background: #a3cd39;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.mod_custom-slideshow .mod-left nav a{background: #fbac1d;margin: 0 0 0 auto;}
.mod_custom-slideshow nav a:before, .mod_custom-slideshow nav a .before{position: absolute;content: '';left: 100%;bottom: 35px;width: 114px;height: 70px;border-bottom: 1px solid #a3cd39;border-right: 1px solid #a3cd39;-webkit-border-radius: 0 0 20px 0;-moz-border-radius: 0 0 20px 0;border-radius: 0 0 20px 0;}
.mod_custom-slideshow .mod-left nav a:before, .mod_custom-slideshow .mod-left nav a .before{left: auto;right: 100%;border-bottom: 1px solid #fbac1d;border-left: 1px solid #fbac1d;border-right: 0;-webkit-border-radius: 0 0 0 20px;-moz-border-radius: 0 0 0 20px;border-radius: 0 0 0 20px;}
.mod_custom-slideshow nav a:after, .mod_custom-slideshow nav a .after{position: absolute;content: '\e804';right: -70px;top: 10px;width: 50px;height: 50px;line-height: 50px;font-size: 34px;color:#fff;text-align: center;background: #a3cd39;font-family: 'dokonaleciste';-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-slideshow .mod-left nav a:after, .mod_custom-slideshow .mod-left nav a .after{content: '\e803';width: 45px;padding: 0 5px 0 0;left: -70px;right: auto;color:#fff;background: #fbac1d;}
.mod_custom-slideshow nav a:hover:after, .mod_custom-slideshow nav a:hover .after{right: -76px;background: #fbac1d;}
.mod_custom-slideshow .mod-left nav a:hover:after, .mod_custom-slideshow .mod-left nav a:hover .after{left: -76px;background: #a3cd39;}
.mod_newsflash_xart{position: relative;width: 480px;padding: 0 20px 0 0;float: left;margin: 0 -20px 45px 0;color: #242424;background: #fb9f1d;-webkit-border-radius: 0 0 0 20px;-moz-border-radius: 0 0 0 20px;border-radius: 0 0 0 20px;}
.mod_newsflash_xart a{color: #fff;}
.mod_newsflash_xart section{position: relative;}
.mod_newsflash_xart .arr{position: absolute;z-index: 999;top: 50px;right: 40px;}
.mod_newsflash_xart .arr i{display: inline-block;color: #fff;background: #f96c1e;cursor: pointer;height: 30px;line-height: 30px;width: 30px;margin: 0 0 0 4px;font-size: 18px;text-align: center;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_newsflash_xart .arr i:hover{background: #7ba317;}
.mod_newsflash_xart article{padding: 50px 40px 40px 50px;width: 370px;font-size: 17px;line-height: 1.4;}
.mod_newsflash_xart h2{font-size: 30px;line-height: 1;font-weight: normal;margin: 0 0 22px;}
.mod_newsflash_xart nav{padding: 3px 0 0 0;}
.mod_newsflash_xart nav a{position: relative;display: block;width: 130px;height: 40px;padding: 0 0 0 20px;line-height: 40px;text-decoration: none;text-transform: uppercase;font-size: 14px;font-weight: 600;background: #f96c1e;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.mod_newsflash_xart nav a:before,.mod_newsflash_xart nav a .before{position: absolute;content: '';left: 100%;bottom: 20px;height: 1px;width: 20px;background: #f96c1e;}
.mod_newsflash_xart nav a:after,.mod_newsflash_xart nav a .after{position: absolute;content: '\e804';left: 100%;margin-left: 10px;top: 5px;height: 30px;line-height: 30px;width: 30px;text-align: center;background: #f96c1e;font-family: 'dokonaleciste';-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_newsflash_xart nav a:hover:after,.mod_newsflash_xart nav a:hover .after{margin-left: 15px;}
.mod_custom-kontakt{position: relative;width: 350px;padding: 0 40px 0 50px;float: left;margin: 0 0 45px;color: #242424;background: #f96c1e;font-size: 16px;-webkit-border-radius: 0 0 20px 20px;-moz-border-radius: 0 0 20px 20px;border-radius: 0 0 20px 20px;}
.mod_custom-kontakt:before, .mod_custom-kontakt .before{position: absolute;content: '\e802';top:32px;right: -49px;width: 98px;height: 98px;line-height: 98px;text-align: center;font-size: 60px;color: #fff;background: #fbac1d;font-family: 'dokonaleciste';-webkit-border-radius: 49px;-moz-border-radius: 49px;border-radius: 49px;}
.mod_custom-kontakt a{color: #fff;}
.mod_custom-kontakt .mod-title{padding: 50px 0 0;margin: 0 0 20px;color: #fff;font-size: 30px;line-height: 1;font-weight: bold;}
.mod_custom-kontakt p{margin: 0 0 15px;}
.mod_custom-kontakt .phone{position: relative;padding: 0 0 0 40px;margin: 0 0 3px;font-size: 20px;font-weight: bold;}
.mod_custom-kontakt .email{position: relative;padding: 0 0 0 40px;margin: 0 0 3px;font-size: 18px;}
.mod_custom-kontakt .email a{color: #242424;}
.mod_custom-kontakt .phone:before, .mod_custom-kontakt .phone .before,
.mod_custom-kontakt .email:before, .mod_custom-kontakt .email .before{position: absolute;content: '';top:0;left: 0;width: 28px;height: 28px;line-height: 28px;text-align: center;font-size: 16px;color: #fff;background: #fbac1d;font-family: 'dokonaleciste';-webkit-border-radius: 14px;-moz-border-radius: 14px;border-radius: 14px;}
.mod_custom-kontakt .phone:before, .mod_custom-kontakt .phone .before{content: '\e802';}
.mod_custom-kontakt .email:before, .mod_custom-kontakt .email .before{content: '\e80a';}
.mod_custom-kontakt .cz,.mod_custom-kontakt .sk{color: #fff;font-size: 14px;padding: 3px 0 0 88px;}
.mod_custom-kontakt .cz{background: url(../images/ico/cz.png) no-repeat;}
.mod_custom-kontakt .sk{background: url(../images/ico/sk.png) no-repeat 5px 7px;}
.mod_custom-dealer{*zoom:1;padding: 22px 0 24px;}
.mod_custom-dealer:before,.mod_custom-dealer:after{display:table;content:"";}
.mod_custom-dealer:after{clear:both;}
.mod_custom-dealer .mod-title{width: 200px;padding: 10px 20px 0 305px;margin: 0;float: left;font-size:  12px;line-height: 1.5;background: url(../images/logo/greensteam.png) no-repeat 0 14px;}
.mod_custom-dealer .item{position: relative;float: left;width: 135px;padding: 2px 0 0 20px;margin: 0 0 0 40px;border-left: 1px dashed #cbc5ba;}
.mod_custom-dealer .item span{position: absolute;left: -36px;top:22px;width: 28px;height: 28px;line-height: 28px;font-size: 14px;background-color: #d9d3c8;color: #fff;text-align: center;font-size: 14px;-webkit-border-radius: 14px;-moz-border-radius: 14px;border-radius: 14px;}
.mod_custom-dealer .item span:before, .mod_custom-dealer .item span .before{position: absolute;content: '';left: 100%;top:13px;height: 1px;width: 8px;background: #cbc5ba;}
.mod_custom-dealer .item img{-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray;-webkit-opacity: 0.5;-moz-opacity: 0.5;opacity: 0.5;filter:alpha(opacity=50);-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-dealer .item a:hover img{-webkit-filter: none;-moz-filter: none;-ms-filter: none;-o-filter: none;filter: none;-webkit-opacity: 1;-moz-opacity: 1;opacity: 1;filter:alpha(opacity=100);}
.mod_custom-social-icons{float: left;margin: 0 34px 0 0;}
.mod_custom-social-icons ul{*zoom:1;margin: 0;padding: 0;}
.mod_custom-social-icons ul:before,.mod_custom-social-icons ul:after{display:table;content:"";}
.mod_custom-social-icons ul:after{clear:both;}
.mod_custom-social-icons ul li{margin: 0 6px 0 0;padding: 0;float: left;}
.mod_custom-social-icons ul li:before,.mod_custom-social-icons ul li .before{display: none;}
.mod_custom-social-icons ul li a{display: block;float: left;height: 52px;line-height: 52px;width: 52px;font-size: 32px;text-align: center;color: #fff;background: #f96c1e;-webkit-border-radius: 26px;-moz-border-radius: 26px;border-radius: 26px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-social-icons ul li a:hover{background: #7ba317;}
.mod_menu-footer{float: left;padding: 20px 0 0;}
.mod_menu-footer ul{*zoom:1;margin: 0;padding: 0;}
.mod_menu-footer ul:before,.mod_menu-footer ul:after{display:table;content:"";}
.mod_menu-footer ul:after{clear:both;}
.mod_menu-footer ul li{margin: 0 30px 0 0;padding: 0;float: left;font-size: 15px;line-height: 1;}
.mod_menu-footer ul li:before,.mod_menu-footer ul li .before{display: none;}
.mod_menu-footer ul li a{color: #fbac1d;text-decoration: none;}
.mod_menu-footer ul li a:hover{color: #f96c1e;}
.mod_menu-footer ul li.act a{font-weight: bold;color: #f96c1e;}
.mod_menu-top{min-width: 960px;}
.mod_menu-top ul{*zoom:1;margin: 0;padding: 0;}
.mod_menu-top ul:before,.mod_menu-top ul:after{display:table;content:"";}
.mod_menu-top ul:after{clear:both;}
.mod_menu-top ul li{position: relative;margin: 0;padding: 0;float: left;width: 50%;text-align: left;background: #7ba317;font-size: 32px;line-height: 1;}
.mod_menu-top ul li:first-child{background: #f96c1e;text-align: right;}
.mod_menu-top ul li:before, .mod_menu-top ul li .before{position: absolute;content: '';bottom:0;left: 40px;border: 16px solid transparent;border-bottom-color: #fff;}
.mod_menu-top ul li:first-child:before, .mod_menu-top ul li:first-child .before{right: 60px;left: auto;}
.mod_menu-top ul li small{font-size: 21px;}
.mod_menu-top ul li a{position: relative;display: block;width: 370px;padding: 34px 55px 28px;text-decoration: none;color: #fff;}
.mod_menu-top ul li:first-child a{margin: 0 0 0 auto;}
.mod_menu-top ul li a:before, .mod_menu-top ul li a .before{position: absolute;content: '';top: 0;left: 0;height: 9px;width: 360px;background: #a3cd39;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_menu-top ul li:first-child a:before, .mod_menu-top ul li:first-child a .before{left: auto;right: 0;background: #fbac1d;}
.mod_menu-top ul li a:hover:before, .mod_menu-top ul li a:hover .before{width: 200px;}
.mod_menu-submenu {*zoom:1;position: relative;margin: 0 0 30px;border: 4px dashed #fbac1d;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.mod_menu-submenu:before,.mod_menu-submenu:after{display:table;content:"";}
.mod_menu-submenu:after{clear:both;}
.mod_menu-submenu>ul{position: relative;margin: -3px;padding: 40px 25px 26px;background: #fff;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.mod_menu-submenu ul li{margin: 0 0 18px;padding: 0;font-size: 16px;line-height: 1.3;}
.mod_menu-submenu ul li:before, .mod_menu-submenu ul li .before{display: none;}
.mod_menu-submenu ul li a{position: relative;display: block;color: #595959;}
.mod_menu-submenu ul li.act>a{font-weight: bold;color: #f96c1e;}
.mod_menu-submenu>ul>li>a:before, .mod_menu-submenu>ul>li>a .before{position: absolute;content: '\e804';left: -40px;top: -4px;height: 30px;line-height: 30px;width: 30px;text-align: center;color: #fff;background: #fbac1d;font-family: 'dokonaleciste';-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}
.mod_menu-submenu>ul>li.act>a:before, .mod_menu-submenu>ul>li.act>a .before{background: #f96c1e;}
.mod_menu-submenu ul ul li a:before, .mod_menu-submenu ul ul li a .before{position: absolute;content: '\e804';left: -17px;top: 0;color: #fbac1d;font-family: 'dokonaleciste';}
.mod_menu-submenu ul ul{padding: 20px 0 5px;}
.mod_menu-submenu ul ul li{font-size: 14px;margin: 0;}
#page-footer .copyright{padding: 24px 0 0;float: right;text-align: right;}
#page-footer .xart {font-size: 11px;line-height: 1;text-transform: uppercase;}
#page-footer .xart a{color: #fbac1d;text-decoration: none;}
#page-footer .xart a:hover{color: #f96c1e;}
#page-footer .xart img{position: relative;top:-4px;margin: 0 0 0 4px;float: right;}
#page-footer .copy{clear: both;font-size: 12px;line-height: 1;color: #595959;}
