@font-face {
  font-family: 'dokonaleciste';
  src: url('../font/dokonaleciste.eot?22711738');
  src: url('../font/dokonaleciste.eot?22711738#iefix') format('embedded-opentype'),
       url('../font/dokonaleciste.woff?22711738') format('woff'),
       url('../font/dokonaleciste.ttf?22711738') format('truetype'),
       url('../font/dokonaleciste.svg?22711738#dokonaleciste') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'dokonaleciste';
    src: url('../font/dokonaleciste.svg?22711738#dokonaleciste') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "dokonaleciste";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e801'; } /* '' */
.icon-up-open-big:before { content: '\e811'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e806'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-left-dir:before { content: '\e803'; } /* '' */
.icon-right-dir:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-circle:before { content: '\e807'; } /* '' */
.icon-facebook-squared:before { content: '\e809'; } /* '' */
.icon-youtube:before { content: '\e808'; } /* '' */
.icon-down-open-big:before { content: '\e80f'; } /* '' */
.icon-left-open-big:before { content: '\e810'; } /* '' */
.icon-right-open-big:before { content: '\e812'; } /* '' */
.icon-laptop:before { content: '\e80a'; } /* '' */