
.icon-search:before { content: '\e801'; } /* '' */
.icon-up-open-big:before { content: '\e811'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e806'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-left-dir:before { content: '\e803'; } /* '' */
.icon-right-dir:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-circle:before { content: '\e807'; } /* '' */
.icon-facebook-squared:before { content: '\e809'; } /* '' */
.icon-youtube:before { content: '\e808'; } /* '' */
.icon-down-open-big:before { content: '\e80f'; } /* '' */
.icon-left-open-big:before { content: '\e810'; } /* '' */
.icon-right-open-big:before { content: '\e812'; } /* '' */
.icon-laptop:before { content: '\e80a'; } /* '' */